# Data Types
- str
- int
- float
- bool
- list

In [100]:
# Index in python starts from 0
list_number = [1, 2, 3, 4]

# [start:end:step]
list_number[1:3]

[2, 3]

## Dictionary
- key-value pair
- keys shall always be unique
- all immutable data types can be keys

In [ ]:

student_names = ["rehan", 3]

student_names = []   

student_grades = []

In [ ]:
student_names: list[str] = ["rehan", "musa"]
student_grades: list[int] = [90, 95]

In [48]:
student_grades: dict[str, int] =  {"rehan": 90, "musa": 95}

print(student_grades["rehan"])

student_grades["musa"]

90

95

In [49]:
# we cannot find keys from values
student_grades[90]

KeyError: 90

In [50]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [52]:
student_grades: dict[str, int] =  {"rehan": 90, "musa": 95}
student_grades.clear()
student_grades

{}

## Assignment:
1. What is difference between deep copy and shallow copy
2. How to find max and min values in tuple if the vaues are (a) string (b) list
3. All the methods of dictionaries, tuples and sets
4. Use membership operator in list, dictionary, tuple, set
5. Logical Operators

In [59]:
student_grades: dict[str, int] =  {"rehan": 90, "musa": 95}
student_grades['rehan']

print(student_grades.get('usman',100))

100

In [60]:
student_grades.pop('rehan')

90

In [61]:
student_grades

{'musa': 95}

In [64]:
new_students = {"usman": 100}
student_grades =  {"rehan": 90, "musa": 95}

# student_grades.update(new_students)
student_grades |= new_students
student_grades

{'rehan': 90, 'musa': 95, 'usman': 100}

In [67]:
# values, keys, items

# student_grades.values()
# student_grades.keys()
student_grades.items()

dict_items([('rehan', 90), ('musa', 95), ('usman', 100)])

In [68]:
for key, value in student_grades.items():
    print(f"The key is {key} and value is {value}")

The key is rehan and value is 90
The key is musa and value is 95
The key is usman and value is 100

In [ ]:
student_grades = {"rehan":[90, 95,56], "musa": {"english":90, "math":87}}

## Tuple

In [70]:
student_roll = (1,2,3,4,5) # immutable data type
print(id(student_roll))

137555475083120

In [71]:
student_roll = (1,2,3,4)
print(id(student_roll))

137555473202720

In [72]:
num_list = [1,2,3,4]
print(id(num_list))
num_list.append(5)
print(id(num_list))

137555473469248
137555473469248

In [74]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [79]:
student_roll: tuple[int] = (1,2,3,4,2)

print(len(student_roll))
print(max(student_roll))
print(min(student_roll))

5
4

In [81]:
student_name_tup = ("rehan", "musa") #ASCII
print(max(student_name_tup))
print(min(student_name_tup))

rehan
musa

In [86]:
first_number = (4,)
print(first_number)
print(type(first_number))

4
<class 'int'>

In [88]:
num_tup = (5,) * 3
num_tup

(5, 5, 5)

In [91]:
scores = (10, 20, 30) #unpack
x , y, z = scores # Tuple unpakcing
print(x)
print(y)

10
20

In [94]:
teacher_names = ("Rehan", "Usman", "Ibtisam")
teacher_names.index("Rehan")

0

In [ ]:
student_ids = (1, 2, 3)

'A'  'a'

In [ ]:
guest_list = ["Rehan", "Usman", "Ibtisam", "Rehan"]

In [ ]:
grocery_item = ["soap", "toothpaste", "toothbrush", "soap"]

In [95]:
num_set = {1, 2, 4}
print(num_set)

{1, 2, 4}

In [96]:
# Sets have always unique values
num_set = {1, 2, 4, 2}
print(num_set)

{1, 2, 4}

In [97]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']